$color-appBar-background: #A03037;
$color-white: #FFFFFF;
$color-gray: gray;
$color-lightgray: lightgray;
$color-black: black;
$color-blue:  #3371B5;
$book-background-color: #F5F5F5;
$rating-color:#388E3C;
$color-footer:#2E1D1E;
