@import "./breakPoints";
@import "./colors";

.all-assets-container {
  width: 90%;
  margin: 0 auto;
  .assets-tabs {
    background-color: $color-white;
    .assets-tab {
      span {
        display: flex;
        flex-direction: row;
        .tab-icon {
          margin: 0 8px;
          color: #6c4ef5;
        }
        .tab-details {
          .details-header {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
.PrivateTabIndicator-colorSecondary-3 {
  background-color: $color-white !important;
}
