@import "./breakPoints";
@import "./colors";

.body-container {
  background-color: #eff3f5;
  .all-assets {
    padding: 20px 0;
  }
  .user-details{
    padding: 0 0 20px;
  }
  .dashboard-table {
    padding: 0 0 20px;
  }
  .manage-ticket {
    padding: 0 0 20px;
  }
}
